@import "variables.less";

// EDIT BELOW THIS LINE

// General

body {
    display:grid;
}

#primary-nav {
    background-color: @persianPink;
    border-bottom: 8px solid @thulianPink;
    padding: 20px 0px 20px 0px;
    display: grid;
    grid-area: primary-nav;
    justify-content: center;
    width:100%;
}
#secondary-nav {
    font-size: 1.5em;
    grid-area: secondary-nav;
    padding: @commonPadding 0px @commonPadding 0px;
    width:100%;
}

#secondary-nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

#secondary-nav ul li {
    padding-left: 40px;
}

#secondary-nav a:link, a:visited, a:hover {
    color:@white;
    font-weight: bold;
}

#main {
    background-color: @spanishPink;
    display:grid;
    grid-area: main;
    justify-items: center;
}

.cities {
    display:grid;
    grid-area: cities;
}

.cities li {
    background-color: @white;
    border: 1px solid @thulianPink;
}

.city-img {
    width:250px;
    height:150px;
    background-size: cover;
    background-position: center;
}

#banner-area {
    display:grid;
    grid-area: banner-area;
}

#banner h1 {
    text-align: center;
    color:@white;
}

#banner {
    padding: 10px;
    text-align: center;
}

.city-previews {
    display:grid;
    grid-area: city-previews;
}

.city-previews li {
    width:150px;
    height:150px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.pilot {
    display:grid;
    background-color: @laurelGreen;
    padding: @commonPadding;
    color:@white;
}

.pilot img {
    width:150px;
    height:150px;
}

footer {
    background-color: @persianPink;
    border-top: 8px solid @thulianPink;
    height: 70px;
    grid-area: footer;
    width:100%;
}

#logo {
    width:200px;
}

// Mobile
@media screen and (max-width: 480px) {
    // Testing resolution: 480x800px
    body {
        display:grid;
    }
    #right-aside {
        display:none;
    }
    #right-aside-inside {
        display:none;
    }
    #main {
        grid-template-areas: 
        "primary-nav"
        "secondary-nav"
        "cities"
        "banner"
        "footer";
    }
    .city-previews {
        display:grid;
        justify-items: center;
        grid-template-columns: auto auto auto auto;
    }
    .city-previews li {
        width:100px;
        height:100px;
        margin-left: 10px;
    }
    .city-img {
        width:220px;
        height:120px;
    }
    .text-wrapper {
        padding: 5px;
    }
    .text-wrapper p {
        font-size: 0.85em;
    }
    .cities li {
        padding: 20px;
    }
    .cities li:nth-of-type(odd) {
        display:grid;
        grid-template-areas: 
        "city-img text-wrapper";
    }
    .cities li:nth-of-type(even) {
        display:grid;
        grid-template-columns: auto auto;
    }
    .cities li:nth-of-type(even) .city-img {
        // I couldn't get it to reorder with grid-template-areas so this is a slightly janky solution
        grid-column: 2;
        grid-row: 1;
    }
    .cities li:nth-of-type(even) .text-wrapper {
        grid-column: 1;
        grid-row: 1;
    }
}

// Tablet
@media screen and (min-width: 481px) and (max-width: 1024px) {
    // Testing resolution: 768x1024
    #right-aside {
        display:none;
    }
    body {
        display:grid;
    }
    #main {
        grid-template-areas: 
        "primary-nav"
        "secondary-nav"
        "cities"
        "banner"
        "footer";
    }
    .city-previews {
        display:grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }
    .city-previews li {
        width:100px;
        height:100px;
        margin-bottom: 20px;
    }
    .cities {
        grid-template-areas: 
        "new-york san-fran"
        "tokyo tokyo";
    }
    .city-img {
        width:180px;
        height:80px;
    }
    .cities li:nth-child(1) {
        grid-area: new-york;
        display:grid;
        padding:10px;
        grid-template-columns: auto auto;
    }
    .cities li:nth-child(2) {
        grid-area: san-fran;
        display:grid;
        padding:10px;
        grid-template-columns: auto auto;
    }
    .cities li:nth-of-type(3) {
        display:grid;
        grid-template-columns: auto auto;
        grid-area: tokyo;
    }
    .cities li:nth-of-type(3) .city-img {
        grid-column: 2;
        grid-row: 1;
        height:120px;
        width:220px;
    }
    .cities li:nth-of-type(3) .text-wrapper {
        grid-column: 1;
        grid-row: 1;
    }
    .text-wrapper {
        padding:10px;
    }
    .text-wrapper p {
        font-size: 0.8em;
    }
    #banner {
        grid-area: banner;
    }
    #right-aside-inside {
        grid-area: right-aside-inside;
    }
    .banner-area {
        grid-template-columns: 100px 100px;
    }
}

// Desktop
@media screen and (min-width: 1024px) {
    // Test resolution: 1024x720px
    #right-aside-inside {
        display:none;
    }
    body {
        display:grid;
        grid-template-columns: auto 250px;
        grid-template-areas: 
            "main right-aside";
    }
    #right-aside {
        border-left: 8px solid @desaturatedCyan;
    }
    #main {
        grid-template-areas: 
            "primary-nav"
            "secondary-nav"
            "cities"
            "banner-area"
            "footer";
    }
    .cities {
        grid-template-columns: auto auto auto;
    }
    .cities li {
        padding: 20px;
    }
    .city-previews {
        display:grid;
        grid-template-columns: auto auto auto auto;
        padding: @commonPadding;
    }
    .city-previews li {
        margin-right: 80px;
    }
    .pilot {
        grid-template-rows: 170px auto; // to make the text display below the image (150x150px + 20px padding)
    }
}
